.logo_instagram {
    margin: 15px;
    text-align: center;
    
}

.label_1 {
    margin: 10px;
    text-align: center;
}

.login_facebook {
    text-align: center;
}

.login_default {
    text-align: center;
}

.text {
    text-align: center;
}

.form_registration {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}